$app-background: #1e1f22;
$app-background-contrast: rgba(255, 255, 255, .86);
$main-outlet-background: rgb(34, 35, 38); // rgba(255, 255, 255, .02);
$main-outlet-background-contrast: white;

$hover-background: rgba(255, 255, 255, 0.06);
$focus-background: rgba(255, 255, 255, 0.09);

$warn-hover-background: rgba(255, 16, 16, 0.73);
$warn-focus-background: rgba(255, 35, 35, 0.83);
