$app-background: #1e1f22;
$app-background-contrast: white;
$main-outlet-background: #fff9ec;
$main-outlet-background-contrast: #1e1f22;

$hover-background: rgba(255, 255, 255, 0.06);
$focus-background: rgba(255, 255, 255, 0.09);

$warn-hover-background: rgba(255, 16, 16, 0.73);
$warn-focus-background: rgba(255, 35, 35, 0.83);
