:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

ul {
  &.main-nav, &.bottom-nav {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;

    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
}
