<ul class="main-nav">
  <li><a routerLink="home" routerLinkActive="active"><i class="fa-solid fa-house"></i>Home</a></li>
  <li></li>
  <li><a routerLink="anime-list" routerLinkActive="active"><i class="fa-solid fa-list"></i>Anime List</a></li>
  <li><a routerLink="history" routerLinkActive="active"><i class="fa-solid fa-clock"></i>History</a></li>
  <li><a routerLink="statistics" routerLinkActive="active"><i class="fa-solid fa-chart-simple"></i>Statistics</a></li>
  <li></li>
  <li><a routerLink="search" routerLinkActive="active"><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
  <li><a routerLink="seasons" routerLinkActive="active"><i class="fa-regular fa-calendar"></i>Seasons</a></li>
  <li><a routerLink="torrents" routerLinkActive="active"><i class="fa-solid fa-download"></i>Torrents</a></li>
</ul>

<ul class="bottom-nav">
  <li><a routerLink="synchronize" routerLinkActive="active"><i class="fa-solid fa-rotate"></i>Synchronize</a></li>
  <li><a routerLink="settings" routerLinkActive="active"><i class="fa-solid fa-gear"></i>Settings</a></li>
</ul>
