@use "styles/colors";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  padding: .5rem 1rem;
  width: 180px;
  box-sizing: border-box;
}

ul {
  &.main-nav, &.bottom-nav {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;

    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    a {
      display: flex;
      background-color: grey;
      padding: .5rem .75rem;
      border-radius: 5px;
      overflow: hidden;
      grid-gap: .5rem;
      //transition: border-radius 200ms ease-out;

      color: colors.$app-background-contrast;
      text-decoration: none;

      &.active {
        background-color: dimgrey;
      }
      &:hover {
        background-color: dimgrey;
        //background-color: colors.$hover-background;
        //border-radius: 18px;
      }
    }
  }
}
