<ul class="main-nav">
  <li><a routerLink="now-playing">Now Playing</a></li>
  <li></li>
  <li><a routerLink="anime-list">Anime List</a></li>
  <li><a routerLink="history">History</a></li>
  <li><a routerLink="statistics">Statistics</a></li>
  <li></li>
  <li><a routerLink="search">Search</a></li>
  <li><a routerLink="seasons">Seasons</a></li>
  <li><a routerLink="torrents">Torrents</a></li>
</ul>

<ul class="bottom-nav">
  <li><a routerLink="synchronize">Synchronize</a></li>
  <li><a routerLink="settings">Settings</a></li>
</ul>
