<h2>Kitsu.io Login</h2>

<app-login-form
  [(username)]="username"
  [(password)]="password"
  (clickLogin)="loginKitsu()"
  (clickLogout)="logoutKitsu()"
  [isLoggedIn]="authService.isLoggedIn"
  [userInfo]="authService.kitsuProfile"
></app-login-form>

<!--<form (ngSubmit)="loginKitsu()" *ngIf="!authService.isLoggedIn; else userDataTmpl">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Username</mat-label>-->
<!--    <input name="username" matInput [(ngModel)]="username" required>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <mat-label>Password</mat-label>-->
<!--    <input name="password" type="password" matInput [(ngModel)]="password" required>-->
<!--  </mat-form-field>-->
<!--  <button mat-button color="primary" type="submit">Login</button>-->
<!--&lt;!&ndash;  <button mat-button color="primary" type="button" (click)="authService.checkIfLoggedIn()">Check if logged in</button>&ndash;&gt;-->
<!--</form>-->

<!--<ng-template #userDataTmpl>-->
<!--  Logged in as: {{authService.kitsuProfile.attributes.name}}-->
<!--  <img [src]="authService.kitsuProfile.attributes.avatar.medium ?? ''">-->
<!--  <button mat-button type="button" (click)="logoutKitsu()">Logout</button>-->
<!--&lt;!&ndash;  <pre>{{authService.kitsuProfile.attributes | json}}</pre>&ndash;&gt;-->
<!--</ng-template>-->

